---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

import wavingHand from "@/images/wavingHand.webp";
---

<Layout
  title="Imo UX ð“ð’¾ð“‰ð‘’"
  description="Hello and welcome to my ð“ð’¾ð“‰ð‘’ portfolio! I'm Imo Madjid; a designer of accessible user experiences and developer of stunning front-end products!"
>
  <main class="">
    <section class="px-32 flex items-center justify-center min-h-screen">
      <h1
        class="flex items-center text-5xl/[1.25] bg-clip-text text-transparent bg-gradient-to-b from-slate-100 to-slate-400 font-bold gap-2"
      >
        <Image src={wavingHand} alt="Waving hand emoji" class="h-12 w-12" />
         Hey there!
      </h1>
    </section>
  </main>
</Layout>
